node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.development.local
.nyc_output
coverage
.DS_Store
*.log
dist
.next
.vscode
.idea
.eslintcache
*.tsbuildinfo
